@use './variables' as v;

////////////// Flexbox - Column //////////////
///
///
//Flex:Align items center with column
%flex-ai-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}
//Flex:Justify center with column
%flex-jc-center-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
//Flex:full center column
%full-center-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
//Flex:column only
%flex-column-only {
  display: flex;
  flex-direction: column;
}
//Flex:justify center only
%flex-jc-center {
  display: flex;
  justify-content: center;
}
//Flex:align-items center only
%flex-align-center {
  display: flex;
  align-items: center;
}

////////////// Flexbox - Row //////////////

//Flex:justify center with Row
%flex-jc-center-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
//Flex:row only
%flex-row-only {
  display: flex;
  flex-direction: row;
}
//Flex:align-items center with Row
%flex-ai-center-row {
  display: flex;
  align-items: center;
  flex-direction: row;
}
//Flex:full center row
%full-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

////////////// Animated Icons //////////////

//Animated arrow down
%animated-arrow-down {
  z-index: 3;
  position: relative;
  bottom: -5rem;
  left: 8rem;
  font-size: v.$fz-big-2;
  color: v.$yellow;

  animation: arrow-fade 2s ease-in-out infinite;

  &:hover {
    cursor: pointer;
  }
}

%mobile-navbar-icons {
  #closemenu,
  #burgermenu {
    z-index: 4;
    position: absolute;
    right: 2rem;
    top: 1rem;
    font-size: 35px;
    color: v.$yellow;
    background-color: transparent;
    cursor: pointer;
  }
}

%resume-btn {
  span {
    color: v.$pastel-yellow;
    border: 1px solid v.$pastel-yellow;
    background-color: v.$lightest-navy;
    border-radius: 0.5rem;
    padding: 1rem;

    &:is(:hover, :active) {
      color: v.$yellow;
      background-color: v.$navy-blue;
      border: 1px solid v.$yellow;
    }
  }
}

%more-btn {
  border: none;

  a {
    font-family: v.$text-font-family;
    color: v.$pastel-yellow;
    border: 1px solid v.$pastel-yellow;
    background-color: v.$lightest-navy;
    border-radius: 0.5rem;
    padding: 1rem;
    text-decoration: none;
    font-size: v.$fz-xl;

    &:is(:hover, :active) {
      color: v.$yellow;
      background-color: v.$navy-blue;
      border: 1px solid v.$yellow;
    }
  }
}

%email-btn {
  border: none;
  background-color: transparent;

  a {
    font-family: v.$text-font-family;
    color: v.$pastel-yellow;
    border: 1px solid v.$pastel-yellow;
    background-color: v.$lightest-navy;
    border-radius: 0.5rem;
    padding: 1rem;
    text-decoration: none;
    font-size: v.$fz-xl;
    margin-bottom: 3rem;

    &:is(:hover, :active) {
      color: v.$yellow;
      background-color: v.$navy-blue;
      border: 1px solid v.$yellow;
    }
  }
}

////////////// Logo //////////////

%logo {
  //Logo -border animation

  .logo-border {
    width: 38px;
    height: 38px;
    border: 2px dotted v.$yellow;
    border-radius: 50%;

    animation: spin 8s linear infinite;

    &:hover + .logo {
      background-color: transparent;
      cursor: pointer;
    }
  }

  //NK text

  .logo {
    font-family: 'Tourney', cursive;
    font-weight: 300;
    font-size: v.$fz-xxxl;
    position: absolute;
    top: 0.45rem;
    left: 0.3rem;
    color: v.$yellow;
  }
}

////////////// Title Styles //////////////

%title-style {
  color: v.$xxl-light-navy;
  font-size: v.$fz-xxxl;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
}

////////////// Text Styles //////////////

%text-container-style {
  color: v.$lightest-navy;
  font-size: v.$fz-xl;
  font-weight: 500;
  margin-bottom: 3rem;
}

%card-text-style {
  color: v.$very-light-navy;
  font-size: v.$fz-xl;
  font-weight: 500;
  margin-bottom: 2rem;
}
