//************ Main Colors ************//

/////Navy Blue

$dark-navy-blue: #020c1b;
$navy-blue: #0a192f;
$light-navy: #112240;
$lightest-navy: #233554;
$very-light-navy: #45669e;
$xxl-light-navy: #5a83c9;
$navy-shadow: rgba(2, 12, 27, 0.7);

/////Yellow

$pastel-yellow: #fdfd96;
$yellow: #ffff00;
$icterine: #fcf75e;
$grain-yellow: #fada5e;

/////Black&White

$white: #fffafa;
$bluis-white: #aac9ff;
$azure-white: #f0ffff;

//********************************************//

$black: #000;
$jet-black: #343434;
$vampire-black: #080808;
$dark-slate-grey: #2f4f4f;

//************ Font Sizes ************//

$fz-xxs: 12px;
$fz-xs: 13px;
$fz-sm: 14px;
$fz-md: 16px;
$fz-lg: 18px;
$fz-xl: 20px;
$fz-xxl: 22px;
$fz-xxxl: 24px;
$fz-xxxxl: 26px;

$fz-big-1: 35px;
$fz-big-2: 40px;
$fz-big-3: 45px;

//************ Font Families ************//

$logo-font-family: 'Tourney', cursive;
$text-font-family: 'Genos', sans-serif;

//************ Variables ************//

//Mobile *********375px

$content-mobile-img-me-border-height: 200px;
$content-mobile-img-me-width: 200px;
$content-mobile-width: 300px;
$content-mobile-max-width: 375px;

$component-gap-mobile: 5rem;

$cardtext-width-mobile: 280px;

$project-card-height-mobile: 396px;
$project-card-inner-width-mobile: 296px;

//Tablet *********768px

$content-tablet-img-me-border-height: 350px;
$content-tablet-img-me-width: 350px;
$content-tablet-width: 450px;
$content-tablet-max-width: 768px;

$project-card-inner-width-tablet: 446px;
$cardtext-width-tablet: 430px;

//Desktop*********992px

$content-desktop992-img-me-border-height: 450px;
$content-desktop992-img-me-width: 450px;
$content-desktop992-width: 550px;
$content-desktop992-max-width: 992px;

$component-gap-desktop992: 10rem;

$project-card-inner-width-desktop992: 446px;
$cardtext-width-desktop992: 430px;
