@use '../../sass/variables' as v;
@forward '../../sass/templates';
@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,300;1,400;1,500&display=swap');

.logo-wrapper {
  position: relative;

  @extend %logo;
}

//Animation: Spin

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
