@use '../../sass/variables' as v;
@forward '../../sass/templates';

.projects-wrapper {
  z-index: 1;
  @extend %flex-ai-column;
  height: fit-content;

  .projects-container {
    margin-top: 1rem;
    position: relative;
    width: v.$content-mobile-width;

    //Main Title
    .projects-container-title {
      @extend %title-style;
      margin-top: 1rem;
    }

    //Wrapper for Cards
    .cards-wrapper {
      position: inherit;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      //Container for Card
      .project-card {
        @extend %flex-ai-column;
        z-index: 3;
        position: relative;
        border-radius: 1rem;
        border: 2px solid v.$pastel-yellow;
        height: v.$project-card-height-mobile;

        &:hover {
          border: 2px solid v.$yellow;
        }

        //Card title
        .card-title {
          background-color: transparent;
          text-align: center;
          background-color: v.$lightest-navy;
          color: v.$xxl-light-navy;
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
          margin-bottom: 1rem;
          width: v.$project-card-inner-width-mobile;
          font-size: v.$fz-xxl;
        }

        //Card Image
        .card-image {
          z-index: -1;
          position: absolute;
          top: 0;
          width: v.$project-card-inner-width-mobile;
          height: v.$project-card-height-mobile;
          object-fit: cover;
          object-position: 0% 0%;

          filter: opacity(0.05);
          border-radius: 1rem;
        }

        //Card Description
        .card-description {
          z-index: 3;
          @extend %card-text-style;
          width: v.$cardtext-width-mobile;
          background-color: transparent;
        }

        //Card Note
        .card-note {
          color: v.$very-light-navy;
          width: v.$cardtext-width-mobile;
          margin-bottom: 1rem;
          font-weight: 500;
          background-color: transparent;
        }

        //Card Techstack
        .card-techstack {
          position: absolute;
          bottom: 4rem;
          width: v.$cardtext-width-mobile;
          background-color: transparent;
          color: v.$bluis-white;
          font-size: v.$fz-xl;
          text-align: left;
          line-height: 1rem;

          &:hover {
            color: v.$yellow;
          }
        }

        //Button/Icon Container
        .icon-container {
          position: absolute;
          bottom: 0;
          background-color: transparent;
          width: v.$project-card-inner-width-mobile;
          display: flex;
          justify-content: center;

          border-bottom-left-radius: 1rem;
          border-bottom-right-radius: 1rem;

          .github,
          .external-link {
            color: v.$grain-yellow;
            font-size: v.$fz-xxxl;

            &:is(:hover, :active) {
              color: v.$yellow;
              background-color: v.$xxl-light-navy;
            }
          }

          //Github Link SVG
          .github {
            text-align: center;
            background-color: v.$lightest-navy;
            width: calc(v.$project-card-inner-width-mobile / 2);
            border-bottom-left-radius: 1rem;

            .github-svg {
              padding-top: 0.5rem;
              background-color: transparent;
            }
          }

          //External link SVG
          .external-link {
            text-align: center;
            background-color: v.$lightest-navy;
            width: calc(v.$project-card-inner-width-mobile / 2);

            border-bottom-right-radius: 1rem;

            .external-link-svg {
              padding-top: 0.5rem;
              background-color: transparent;
            }
          }
        }
      }

      //More projects btn

      .more-to-see-container {
        margin-top: 2rem;
        display: flex;
        justify-content: center;

        .more-btn {
          @extend %more-btn;
        }
      }

      //Animated arrow down

      .animated-arrow-down {
        @extend %animated-arrow-down;
      }
    }
  }
}
