.projects-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.projects-wrapper .projects-container .cards-wrapper .animated-arrow-down {
  z-index: 3;
  position: absolute;
  bottom: -7rem;
  left: 8rem;
  font-size: 40px;
  color: #ffff00;
  animation: arrow-fade 2s ease-in-out infinite;
}
.projects-wrapper .projects-container .cards-wrapper .animated-arrow-down:hover {
  cursor: pointer;
}

.projects-wrapper .projects-container .cards-wrapper .more-to-see-container .more-btn {
  border: none;
}
.projects-wrapper .projects-container .cards-wrapper .more-to-see-container .more-btn a {
  font-family: "Genos", sans-serif;
  color: #fdfd96;
  border: 1px solid #fdfd96;
  background-color: #233554;
  border-radius: 0.5rem;
  padding: 1rem;
  text-decoration: none;
  font-size: 20px;
}
.projects-wrapper .projects-container .cards-wrapper .more-to-see-container .more-btn a:hover {
  color: #ffff00;
  background-color: #0a192f;
  border: 1px solid #ffff00;
}

.projects-wrapper .projects-container .projects-container-title {
  color: #5a83c9;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
}

.projects-wrapper .projects-container .cards-wrapper .project-card .card-description {
  color: #45669e;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 2rem;
}

.projects-wrapper {
  z-index: 2;
  height: -moz-fit-content;
  height: fit-content;
}
.projects-wrapper .projects-container {
  margin-top: 1rem;
  position: relative;
  width: 300px;
}
.projects-wrapper .projects-container .projects-container-title {
  margin-top: 1rem;
}
.projects-wrapper .projects-container .cards-wrapper {
  position: inherit;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.projects-wrapper .projects-container .cards-wrapper .project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  position: relative;
  border-radius: 1rem;
  border: 2px solid #fdfd96;
  height: 396px;
}
.projects-wrapper .projects-container .cards-wrapper .project-card:hover {
  border: 2px solid #ffff00;
}
.projects-wrapper .projects-container .cards-wrapper .project-card .card-title {
  background-color: transparent;
  text-align: center;
  background-color: #233554;
  color: #5a83c9;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-bottom: 1rem;
  width: 296px;
  font-size: 22px;
}
.projects-wrapper .projects-container .cards-wrapper .project-card .card-image {
  z-index: -1;
  position: absolute;
  top: 0;
  width: 296px;
  height: 396px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 0%;
     object-position: 0% 0%;
  filter: opacity(0.05);
  border-radius: 1rem;
}
.projects-wrapper .projects-container .cards-wrapper .project-card .card-description {
  z-index: 3;
  width: 280px;
  background-color: transparent;
}
.projects-wrapper .projects-container .cards-wrapper .project-card .card-note {
  color: #45669e;
  width: 280px;
  margin-bottom: 1rem;
  font-weight: 500;
  background-color: transparent;
}
.projects-wrapper .projects-container .cards-wrapper .project-card .card-techstack {
  position: absolute;
  bottom: 4rem;
  width: 280px;
  background-color: transparent;
  color: #aac9ff;
  font-size: 20px;
  text-align: left;
  line-height: 1rem;
}
.projects-wrapper .projects-container .cards-wrapper .project-card .card-techstack:hover {
  color: #ffff00;
}
.projects-wrapper .projects-container .cards-wrapper .project-card .icon-container {
  position: absolute;
  bottom: 0;
  background-color: transparent;
  width: 296px;
  display: flex;
  justify-content: center;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.projects-wrapper .projects-container .cards-wrapper .project-card .icon-container .github,
.projects-wrapper .projects-container .cards-wrapper .project-card .icon-container .external-link {
  color: #fada5e;
  font-size: 24px;
}
.projects-wrapper .projects-container .cards-wrapper .project-card .icon-container .github:hover,
.projects-wrapper .projects-container .cards-wrapper .project-card .icon-container .external-link:hover {
  color: #ffff00;
  background-color: #5a83c9;
}
.projects-wrapper .projects-container .cards-wrapper .project-card .icon-container .github {
  text-align: center;
  background-color: #233554;
  width: 148px;
  border-bottom-left-radius: 1rem;
}
.projects-wrapper .projects-container .cards-wrapper .project-card .icon-container .github .github-svg {
  padding-top: 0.5rem;
  background-color: transparent;
}
.projects-wrapper .projects-container .cards-wrapper .project-card .icon-container .external-link {
  text-align: center;
  background-color: #233554;
  width: 148px;
  border-bottom-right-radius: 1rem;
}
.projects-wrapper .projects-container .cards-wrapper .project-card .icon-container .external-link .external-link-svg {
  padding-top: 0.5rem;
  background-color: transparent;
}
.projects-wrapper .projects-container .cards-wrapper .more-to-see-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=Projects.css.map */