@use '../../sass/variables' as v;
@forward '../../sass/templates';

.projects-wrapper {
  z-index: 1;
  @extend %flex-ai-column;
  height: fit-content;

  .projects-container {
    margin-top: 1rem;
    position: relative;
    width: v.$content-mobile-width;

    //Main Title
    .projects-container-title {
      @extend %title-style;
      margin-top: 1rem;
    }

    //Wrapper for Cards
    .cards-wrapper {
      position: inherit;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      //Container for Card
      .project-card {
        @extend %flex-ai-column;

        z-index: 3;
        position: relative;
        border-radius: 1rem;
        border: 2px solid v.$pastel-yellow;
        height: v.$project-card-height-mobile;

        &:hover {
          border: 2px solid v.$yellow;
        }

        //Card title
        .card-title {
          background-color: transparent;
          text-align: center;
          background-color: v.$lightest-navy;
          color: v.$xxl-light-navy;
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
          margin-bottom: 1rem;
          width: v.$project-card-inner-width-mobile;
          font-size: v.$fz-xxl;
        }

        //Only at Desktop size, background-image
        .desktop-img {
          display: none;

          .desktop-card-image {
            display: none;
          }
        }

        //Card Image
        .card-image {
          z-index: -1;
          position: absolute;
          top: 0;
          width: v.$project-card-inner-width-mobile;
          height: v.$project-card-height-mobile;
          object-fit: cover;
          object-position: 0% 0%;

          filter: opacity(0.05);
          border-radius: 1rem;
        }

        .desktop-info-bar {
          background-color: transparent;
        }
        //Card Description
        .card-description {
          z-index: 3;
          @extend %card-text-style;
          width: v.$cardtext-width-mobile;
          background-color: transparent;
        }

        //Card Note
        .card-note {
          position: relative;
          color: v.$very-light-navy;
          width: v.$cardtext-width-mobile;
          margin-bottom: 1rem;
          font-weight: 500;
          background-color: transparent;
        }

        //Card Techstack
        .card-techstack {
          position: relative;
          bottom: 0;
          width: v.$cardtext-width-mobile;
          background-color: transparent;
          color: v.$bluis-white;
          font-size: v.$fz-lg;
          text-align: left;
          line-height: 1rem;

          &:hover {
            transition: none;
            color: v.$yellow;
          }
        }

        //Button/Icon Container
        .icon-container {
          position: absolute;
          bottom: 0;
          background-color: transparent;
          width: v.$project-card-inner-width-mobile;
          display: flex;
          justify-content: center;

          border-bottom-left-radius: 1rem;
          border-bottom-right-radius: 1rem;

          .github,
          .external-link {
            color: v.$grain-yellow;
            font-size: v.$fz-xxxl;

            &:is(:hover, :active) {
              color: v.$yellow;
              background-color: v.$xxl-light-navy;
            }
          }

          //Github Link SVG
          .github {
            text-align: center;
            background-color: v.$lightest-navy;
            transition: none;
            width: calc(v.$project-card-inner-width-mobile / 2);
            border-bottom-left-radius: 1rem;

            .github-svg {
              padding-top: 0.5rem;
              background-color: transparent;
            }
          }

          //External link SVG
          .external-link {
            text-align: center;
            transition: none;
            background-color: v.$lightest-navy;
            width: calc(v.$project-card-inner-width-mobile / 2);

            border-bottom-right-radius: 1rem;

            .external-link-svg {
              padding-top: 0.5rem;
              background-color: transparent;
            }
          }
        }
      }

      //More projects btn

      .more-to-see-container {
        margin-top: 2rem;
        display: flex;
        justify-content: center;

        .more-btn {
          @extend %more-btn;
        }
      }

      //Animated arrow down

      .animated-arrow-down {
        @extend %animated-arrow-down;
      }
    }
  }
}

//Media Queries

//*********************** Tablet 768px ***********************//
@media only screen and (min-width: 768px) {
  .projects-container {
    transition: 1s ease-in-out;
    width: v.$content-tablet-width !important;

    .card-title {
      transition: 1s ease-in-out;
      width: v.$project-card-inner-width-tablet !important;
    }

    .card-image {
      transition: 1s ease-in-out;
      width: v.$project-card-inner-width-tablet !important;
    }

    .card-description {
      transition: 1s ease-in-out;
      width: v.$cardtext-width-tablet !important;
    }

    .card-note {
      transition: 1s ease-in-out;
      width: v.$cardtext-width-tablet !important;
    }

    .card-techstack {
      transition: 1s ease-in-out !important;
      width: v.$cardtext-width-tablet !important;
    }

    .icon-container {
      transition: 1s ease-in-out;
      width: v.$project-card-inner-width-tablet !important;

      .github,
      .external-link {
        transition: 1s ease-in-out;
        width: calc(v.$project-card-inner-width-tablet / 2) !important;
      }
    }

    .animated-arrow-down {
      left: 13rem !important;
    }
  }
}

//*********************** Desktop 992px ***********************//
@media only screen and (min-width: 992px) {
  .projects-container {
    width: v.$content-desktop992-width !important;

    //Dekor yellow line

    &::before {
      position: absolute;
      left: 21vw;
      top: 3rem;
      content: '';
      width: calc(v.$content-desktop992-width/1.5);
      height: 2px;
      background-color: v.$grain-yellow;
      box-shadow: 0px 0px 85px 5px v.$yellow;
      border-radius: 50%;
      animation: arrow-fade 3s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
    }

    .projects-container-title {
      transition: 1s ease;
      font-size: v.$fz-big-3 !important;
      margin-bottom: 5rem !important;
    }

    .cards-wrapper {
      gap: 8rem !important;

      .project-card {
        background-color: v.$light-navy;
        height: v.$project-card-height-desktop992 !important;
        border: none !important;
        align-items: flex-start !important;
        box-shadow: 0px 0px 15px 2px v.$navy-shadow;
        padding: 1rem;

        .card-title {
          width: v.$cardtext-width-desktop992 !important;
          background-color: transparent !important;
          color: v.$bluis-white !important;
          text-align: left !important;
          margin-bottom: 6.5rem !important;
          font-size: v.$fz-xxxxl !important;
        }

        .card-description {
          margin-bottom: 2rem !important;
          width: v.$cardtext-width-desktop992 !important;
          font-size: v.$fz-xxl !important;
        }

        .card-note {
          width: v.$cardtext-width-desktop992 !important;
          color: v.$bluis-white !important;
        }

        .card-techstack {
          margin-left: 1rem;
          bottom: 4.5rem !important;
          min-width: v.$cardtext-width-desktop992 !important;
        }

        .desktop-info-bar {
          background-color: v.$navy-blue !important;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          padding-left: 1rem;
          padding-right: 1rem;
          padding-top: 0.5rem;
          border-radius: 1rem;
        }

        //Only Desktop screen project Card image
        .desktop-img {
          height: v.$project-card-height-desktop992;
          z-index: -1;
          position: absolute;
          right: 1rem;
          display: flex !important;
          align-items: center;
          border-radius: 1rem;

          .desktop-card-image {
            height: v.$project-card-desktopimg-height;
            width: v.$project-card-desktopimg-width;
            display: flex !important;
            object-fit: cover;
            object-position: 75% 0%;
            border-radius: 1rem;
            margin-bottom: 2rem;

            opacity: 0.4;
            filter: grayscale(55);

            &:is(:hover, :active) {
              transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
              filter: grayscale(0);
              opacity: 1;
              cursor: pointer;
            }
          }
        }

        //Mobile image off
        .card-image {
          display: none;
        }

        .icon-container {
          width: 150px !important;
          bottom: 1rem !important;

          .github {
            border-top-left-radius: 1rem !important;
          }

          .external-link {
            border-top-right-radius: 1rem !important;
          }
        }
      }
    }
  }
  .animated-arrow-down {
    display: none;
  }
}

//*********************** Desktop 1200px ***********************//
@media only screen and (min-width: 1200px) {
  .projects-container {
    transition: 1s ease;
    width: v.$content-desktop1200-width !important;
    //Dekor yellow line

    &::before {
      left: 20vw;
    }

    .cards-wrapper {
      transition: 1s ease;
      width: v.$content-desktop1200-width !important;
    }
  }
}

//*********************** Desktop 1440px ***********************//
@media only screen and (min-width: 1440px) {
  .projects-container {
    transition: 1s ease;
    width: v.$content-desktop1440-width !important;
    //Dekor yellow line

    .cards-wrapper {
      transition: 1s ease;
      width: v.$content-desktop1440-width !important;
    }
  }
}
