.projects-wrapper, .projects-wrapper .projects-container .cards-wrapper .project-card {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.projects-wrapper .projects-container .cards-wrapper .animated-arrow-down {
  z-index: 3;
  position: relative;
  bottom: -5rem;
  left: 8rem;
  font-size: 40px;
  color: #ffff00;
  animation: arrow-fade 2s ease-in-out infinite;
}
.projects-wrapper .projects-container .cards-wrapper .animated-arrow-down:hover {
  cursor: pointer;
}

.projects-wrapper .projects-container .cards-wrapper .more-to-see-container .more-btn {
  border: none;
}
.projects-wrapper .projects-container .cards-wrapper .more-to-see-container .more-btn a {
  font-family: "Genos", sans-serif;
  color: #fdfd96;
  border: 1px solid #fdfd96;
  background-color: #233554;
  border-radius: 0.5rem;
  padding: 1rem;
  text-decoration: none;
  font-size: 20px;
}
.projects-wrapper .projects-container .cards-wrapper .more-to-see-container .more-btn a:is(:hover, :active) {
  color: #ffff00;
  background-color: #0a192f;
  border: 1px solid #ffff00;
}

.projects-wrapper .projects-container .projects-container-title {
  color: #5a83c9;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
}

.projects-wrapper .projects-container .cards-wrapper .project-card .card-description {
  color: #45669e;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 2rem;
}

.projects-wrapper {
  z-index: 1;
  height: -moz-fit-content;
  height: fit-content;
}
.projects-wrapper .projects-container {
  margin-top: 1rem;
  position: relative;
  width: 300px;
}
.projects-wrapper .projects-container .projects-container-title {
  margin-top: 1rem;
}
.projects-wrapper .projects-container .cards-wrapper {
  position: inherit;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.projects-wrapper .projects-container .cards-wrapper .project-card {
  z-index: 3;
  position: relative;
  border-radius: 1rem;
  border: 2px solid #fdfd96;
  height: 396px;
}
.projects-wrapper .projects-container .cards-wrapper .project-card:hover {
  border: 2px solid #ffff00;
}
.projects-wrapper .projects-container .cards-wrapper .project-card .card-title {
  background-color: transparent;
  text-align: center;
  background-color: #233554;
  color: #5a83c9;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-bottom: 1rem;
  width: 296px;
  font-size: 22px;
}
.projects-wrapper .projects-container .cards-wrapper .project-card .desktop-img {
  display: none;
}
.projects-wrapper .projects-container .cards-wrapper .project-card .desktop-img .desktop-card-image {
  display: none;
}
.projects-wrapper .projects-container .cards-wrapper .project-card .card-image {
  z-index: -1;
  position: absolute;
  top: 0;
  width: 296px;
  height: 396px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 0%;
     object-position: 0% 0%;
  filter: opacity(0.05);
  border-radius: 1rem;
}
.projects-wrapper .projects-container .cards-wrapper .project-card .desktop-info-bar {
  background-color: transparent;
}
.projects-wrapper .projects-container .cards-wrapper .project-card .card-description {
  z-index: 3;
  width: 280px;
  background-color: transparent;
}
.projects-wrapper .projects-container .cards-wrapper .project-card .card-note {
  color: #45669e;
  width: 280px;
  margin-bottom: 1rem;
  font-weight: 500;
  background-color: transparent;
}
.projects-wrapper .projects-container .cards-wrapper .project-card .card-techstack {
  position: absolute;
  bottom: 4rem;
  width: 280px;
  background-color: transparent;
  color: #aac9ff;
  font-size: 20px;
  text-align: left;
  line-height: 1rem;
}
.projects-wrapper .projects-container .cards-wrapper .project-card .card-techstack:hover {
  transition: none;
  color: #ffff00;
}
.projects-wrapper .projects-container .cards-wrapper .project-card .icon-container {
  position: absolute;
  bottom: 0;
  background-color: transparent;
  width: 296px;
  display: flex;
  justify-content: center;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.projects-wrapper .projects-container .cards-wrapper .project-card .icon-container .github,
.projects-wrapper .projects-container .cards-wrapper .project-card .icon-container .external-link {
  color: #fada5e;
  font-size: 24px;
}
.projects-wrapper .projects-container .cards-wrapper .project-card .icon-container .github:is(:hover, :active),
.projects-wrapper .projects-container .cards-wrapper .project-card .icon-container .external-link:is(:hover, :active) {
  color: #ffff00;
  background-color: #5a83c9;
}
.projects-wrapper .projects-container .cards-wrapper .project-card .icon-container .github {
  text-align: center;
  background-color: #233554;
  transition: none;
  width: 148px;
  border-bottom-left-radius: 1rem;
}
.projects-wrapper .projects-container .cards-wrapper .project-card .icon-container .github .github-svg {
  padding-top: 0.5rem;
  background-color: transparent;
}
.projects-wrapper .projects-container .cards-wrapper .project-card .icon-container .external-link {
  text-align: center;
  transition: none;
  background-color: #233554;
  width: 148px;
  border-bottom-right-radius: 1rem;
}
.projects-wrapper .projects-container .cards-wrapper .project-card .icon-container .external-link .external-link-svg {
  padding-top: 0.5rem;
  background-color: transparent;
}
.projects-wrapper .projects-container .cards-wrapper .more-to-see-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .projects-container {
    transition: 1s ease-in-out;
    width: 450px !important;
  }
  .projects-container .card-title {
    transition: 1s ease-in-out;
    width: 446px !important;
  }
  .projects-container .card-image {
    transition: 1s ease-in-out;
    width: 446px !important;
  }
  .projects-container .card-description {
    transition: 1s ease-in-out;
    width: 430px !important;
  }
  .projects-container .card-note {
    transition: 1s ease-in-out;
    width: 430px !important;
  }
  .projects-container .card-techstack {
    transition: 1s ease-in-out !important;
    width: 430px !important;
  }
  .projects-container .icon-container {
    transition: 1s ease-in-out;
    width: 446px !important;
  }
  .projects-container .icon-container .github,
  .projects-container .icon-container .external-link {
    transition: 1s ease-in-out;
    width: 223px !important;
  }
  .projects-container .animated-arrow-down {
    left: 13rem !important;
  }
}
@media only screen and (min-width: 992px) {
  .projects-container {
    width: 750px !important;
  }
  .projects-container::before {
    position: absolute;
    left: 21vw;
    top: 3rem;
    content: "";
    width: 500px;
    height: 2px;
    background-color: #fada5e;
    box-shadow: 0px 0px 85px 5px #ffff00;
    border-radius: 50%;
    animation: arrow-fade 3s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
  }
  .projects-container .projects-container-title {
    transition: 1s ease;
    font-size: 45px !important;
    margin-bottom: 5rem !important;
  }
  .projects-container .cards-wrapper {
    gap: 8rem !important;
  }
  .projects-container .cards-wrapper .project-card {
    height: 496px !important;
    border: none !important;
    align-items: flex-start !important;
    box-shadow: 0px 0px 15px 2px rgba(2, 12, 27, 0.7);
    padding: 1rem;
  }
  .projects-container .cards-wrapper .project-card .card-title {
    width: 540px !important;
    background-color: transparent !important;
    color: #aac9ff !important;
    text-align: left !important;
    margin-bottom: 6.5rem !important;
    font-size: 26px !important;
  }
  .projects-container .cards-wrapper .project-card .card-description {
    width: 540px !important;
    font-size: 22px !important;
  }
  .projects-container .cards-wrapper .project-card .card-note {
    width: 540px !important;
    color: #aac9ff !important;
  }
  .projects-container .cards-wrapper .project-card .card-techstack {
    bottom: 4.5rem !important;
    width: 540px !important;
  }
  .projects-container .cards-wrapper .project-card .desktop-info-bar {
    background-color: #112240 !important;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-top: 0.5rem;
    border-radius: 1rem;
  }
  .projects-container .cards-wrapper .project-card .desktop-img {
    height: 496px;
    z-index: -1;
    position: absolute;
    right: 1rem;
    display: flex !important;
    align-items: center;
    border-radius: 1rem;
  }
  .projects-container .cards-wrapper .project-card .desktop-img .desktop-card-image {
    height: 350px;
    width: 550px;
    display: flex !important;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 75% 0%;
       object-position: 75% 0%;
    border-radius: 1rem;
    margin-bottom: 2rem;
    opacity: 0.4;
    filter: grayscale(55);
  }
  .projects-container .cards-wrapper .project-card .desktop-img .desktop-card-image:is(:hover, :active) {
    transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    filter: grayscale(0);
    opacity: 1;
    cursor: pointer;
  }
  .projects-container .cards-wrapper .project-card .card-image {
    display: none;
  }
  .projects-container .cards-wrapper .project-card .icon-container {
    width: 150px !important;
    bottom: 1rem !important;
  }
  .projects-container .cards-wrapper .project-card .icon-container .github {
    border-top-left-radius: 1rem !important;
  }
  .projects-container .cards-wrapper .project-card .icon-container .external-link {
    border-top-right-radius: 1rem !important;
  }
  .animated-arrow-down {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .projects-container {
    transition: 1s ease;
    width: 846px !important;
  }
  .projects-container::before {
    left: 20vw;
  }
  .projects-container .cards-wrapper {
    transition: 1s ease;
    width: 846px !important;
  }
}/*# sourceMappingURL=Projects.css.map */