.skills-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skills-wrapper .skills-container .animated-arrow-down {
  z-index: 3;
  position: relative;
  bottom: -5rem;
  left: 8rem;
  font-size: 40px;
  color: #ffff00;
  animation: arrow-fade 2s ease-in-out infinite;
}
.skills-wrapper .skills-container .animated-arrow-down:hover {
  cursor: pointer;
}

.skills-wrapper .jobs-container .jobs-btn {
  width: 80%;
}
.skills-wrapper .jobs-container .jobs-btn span {
  display: flex;
  justify-content: center;
  color: #fdfd96;
  border: 1px solid #324972;
  background-color: #324972;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 24px;
}
.skills-wrapper .jobs-container .jobs-btn span:is(:hover, :active) {
  color: #ffff00;
  background-color: #0c1e3a;
  border: 1px solid #ffff00;
  cursor: pointer;
}

.skills-wrapper .skills-container .skills-title {
  color: #5a83c9;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  background-image: linear-gradient(#112240 5%, #020d1d 90%);
  border-radius: 1rem;
  padding: 0.5rem 0.5rem 5rem 0.5rem;
  margin-bottom: 2rem;
  text-shadow: 1px 2px 1px #324972, 1px 3px 1px #324972, 1px 4px 1px #324972, 1px 5px 1px #324972, 1px 6px 1px #324972, 1px 18px 6px #020d1d;
}

.skills-wrapper .jobs-skills-title {
  color: #5a83c9;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
}

.skills-wrapper .skills-container .skills-text-container {
  color: #324972;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 6rem;
}

.skills-wrapper {
  z-index: 1;
  height: fit-content;
}
.skills-wrapper .jobs-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 2rem;
}
.skills-wrapper .skills-container {
  margin-top: 5rem;
  position: relative;
  width: 300px;
}
.skills-wrapper .skills-container .skills-title {
  margin-bottom: 2rem;
}
.skills-wrapper .skills-container .skills-text-container:nth-child(1) {
  margin-bottom: 1rem;
}
.skills-wrapper .skills-container .skills-text-container:is(:hover, :focus-visible) {
  color: #45669e;
}
.skills-wrapper .skills-container .skills-text-container .python-text,
.skills-wrapper .skills-container .skills-text-container .designer-text,
.skills-wrapper .skills-container .skills-text-container .brighter {
  color: #45669e;
}
.skills-wrapper .skills-container .skills-skillset-container {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  width: 100%;
}
.skills-wrapper .skills-container .skills-skillset-container .skill-element-container {
  display: flex;
  align-items: center;
}
.skills-wrapper .skills-container .skills-skillset-container .skill-element-container .desktop-tech-icon-left,
.skills-wrapper .skills-container .skills-skillset-container .skill-element-container .desktop-tech-icon-right {
  display: none;
}
.skills-wrapper .skills-container .skills-skillset-container .skill-element-container .right-arrow {
  color: #fada5e;
  padding-right: 0.5rem;
}
.skills-wrapper .skills-container .skills-skillset-container .skill-element-container li {
  color: #45669e;
  font-size: 18px;
  font-weight: 700;
}
.skills-wrapper .skills-container .skills-skillset-container .skill-element-container .brighter {
  color: #aac9ff;
}
.skills-wrapper .skills-container .skills-skillset-container .left-skillset,
.skills-wrapper .skills-container .skills-skillset-container .right-skillset {
  list-style: none;
  line-height: 2rem;
}
@media only screen and (min-width: 768px) {
  .skills-container {
    transition: 1s ease-in-out;
    width: 450px !important;
  }
  .skills-container .skills-skillset-container {
    transition: 1s ease-in-out;
    justify-content: center !important;
  }
  .skills-container .animated-arrow-down {
    left: 13rem !important;
  }
}
@media only screen and (min-width: 992px) {
  .skills-container {
    width: 750px !important;
    margin-top: 0 !important;
  }
  .skills-container .skill-element-container .desktop-tech-icon-left {
    position: absolute;
    left: 1rem;
    display: block !important;
    width: 35px;
    border-radius: 50%;
  }
  .skills-container .skill-element-container .desktop-tech-icon-left:hover {
    cursor: pointer;
  }
  .skills-container .skill-element-container .angular {
    width: 50px;
    left: 0.5rem;
  }
  .skills-container .skill-element-container .desktop-tech-icon-right {
    position: absolute;
    right: 1rem;
    display: block !important;
    width: 35px;
    border-radius: 50%;
  }
  .skills-container .skill-element-container .desktop-tech-icon-right:hover {
    cursor: pointer;
  }
  .skills-container .skill-element-container .right-arrow {
    display: none;
  }
  .skills-container .skills-title {
    transition: 1s ease;
    font-size: 45px !important;
  }
  .skills-container .skills-text-container {
    font-size: 24px !important;
    font-weight: 700 !important;
  }
  .skills-container .skills-skillset-container {
    margin-top: 4rem;
    gap: 11rem !important;
  }
  .skills-container .skills-skillset-container li {
    font-size: 24px !important;
  }
  .skills-container .skills-skillset-container .left-skillset,
  .skills-container .skills-skillset-container .right-skillset {
    transition: 1s ease;
    line-height: 3.5rem !important;
  }
}
@media only screen and (min-width: 1440px) {
  .skills-container {
    width: 1046px !important;
  }
}/*# sourceMappingURL=Skills.css.map */