@use '../../sass/variables' as v;
@forward '../../sass/templates';

.skills-wrapper {
  z-index: 1;
  @extend %flex-ai-column;
  height: fit-content;

  .skills-container {
    margin-top: 5rem;
    position: relative;
    width: v.$content-mobile-width;

    .skills-title {
      @extend %title-style;
    }

    .skills-text-container {
      @extend %text-container-style;

      &:nth-child(1) {
        margin-bottom: 1rem;
      }
      &:is(:hover, :focus-visible) {
        color: v.$very-light-navy;
      }

      .python-text,
      .designer-text,
      .brighter {
        color: v.$very-light-navy;
      }
    }

    .skills-skillset-container {
      display: flex;
      justify-content: flex-start;
      gap: 4rem;

      .skill-element-container {
        display: flex;
        align-items: center;

        //Arrow icon

        .right-arrow {
          color: v.$grain-yellow;
          padding-right: 0.5rem;
        }

        li {
          color: v.$very-light-navy;
          font-size: v.$fz-lg;
          font-weight: 700;
        }

        //Highlighted text

        .brighter {
          color: v.$bluis-white;
        }
      }

      //Left-Right Skill tree

      .left-skillset,
      .right-skillset {
        list-style: none;
        line-height: 2rem;
      }
    }

    .animated-arrow-down {
      @extend %animated-arrow-down;
    }
  }
}

//Media Queries

//*********************** Tablet 768px ***********************//
@media only screen and (min-width: 768px) {
  .skills-container {
    transition: 1s ease-in-out;
    width: v.$content-tablet-width !important;

    .skills-skillset-container {
      transition: 1s ease-in-out;
      justify-content: center !important;
    }

    .animated-arrow-down {
      left: 13rem !important;
    }
  }
}

//*********************** Desktop 992px ***********************//
@media only screen and (min-width: 992px) {
  .skills-container {
    width: v.$content-desktop992-width !important;
    margin-top: 0 !important;

    //Dekor yellow line

    &::before {
      position: absolute;
      left: 20vw;
      top: 2rem;
      content: '';
      width: calc(v.$content-desktop992-width/1.5);
      height: 2px;
      background-color: v.$grain-yellow;
      box-shadow: 0px 0px 85px 5px v.$yellow;
      border-radius: 50%;
      animation: arrow-fade 3s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
    }

    .skill-element-container {
      .right-arrow {
        transition: 1s ease;
        font-size: v.$fz-xxxl;
      }
    }

    .skills-title {
      transition: 1s ease;
      font-size: v.$fz-big-3 !important;
    }

    .skills-text-container {
      font-size: v.$fz-xxxl !important;
      font-weight: 700 !important;
    }

    .skills-skillset-container {
      margin-top: 8rem;
      gap: 11rem !important;

      li {
        font-size: v.$fz-xxxl !important;
      }

      .left-skillset,
      .right-skillset {
        transition: 1s ease;
        line-height: 3.5rem !important;
      }
    }
  }
}

//*********************** Desktop 1440px ***********************//
@media only screen and (min-width: 1440px) {
  .skills-container {
    width: v.$content-desktop1440-width !important;
  }
}
