.skills-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skills-wrapper .skills-container .animated-arrow-down {
  z-index: 3;
  position: relative;
  bottom: -5rem;
  left: 8rem;
  font-size: 40px;
  color: #ffff00;
  animation: arrow-fade 2s ease-in-out infinite;
}
.skills-wrapper .skills-container .animated-arrow-down:hover {
  cursor: pointer;
}

.skills-wrapper .skills-container .skills-title {
  color: #5a83c9;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
}

.skills-wrapper .skills-container .skills-text-container {
  color: #233554;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 3rem;
}

.skills-wrapper {
  z-index: 1;
  height: -moz-fit-content;
  height: fit-content;
}
.skills-wrapper .skills-container {
  margin-top: 5rem;
  position: relative;
  width: 300px;
}
.skills-wrapper .skills-container .skills-text-container:nth-child(1) {
  margin-bottom: 1rem;
}
.skills-wrapper .skills-container .skills-text-container:is(:hover, :focus-visible) {
  color: #45669e;
}
.skills-wrapper .skills-container .skills-text-container .python-text,
.skills-wrapper .skills-container .skills-text-container .designer-text,
.skills-wrapper .skills-container .skills-text-container .brighter {
  color: #45669e;
}
.skills-wrapper .skills-container .skills-skillset-container {
  display: flex;
  justify-content: flex-start;
  gap: 4rem;
}
.skills-wrapper .skills-container .skills-skillset-container .skill-element-container {
  display: flex;
  align-items: center;
}
.skills-wrapper .skills-container .skills-skillset-container .skill-element-container .right-arrow {
  color: #fada5e;
  padding-right: 0.5rem;
}
.skills-wrapper .skills-container .skills-skillset-container .skill-element-container li {
  color: #45669e;
  font-size: 18px;
  font-weight: 700;
}
.skills-wrapper .skills-container .skills-skillset-container .skill-element-container .brighter {
  color: #aac9ff;
}
.skills-wrapper .skills-container .skills-skillset-container .left-skillset,
.skills-wrapper .skills-container .skills-skillset-container .right-skillset {
  list-style: none;
  line-height: 2rem;
}
@media only screen and (min-width: 768px) {
  .skills-container {
    transition: 1s ease-in-out;
    width: 450px !important;
  }
  .skills-container .skills-skillset-container {
    transition: 1s ease-in-out;
    justify-content: center !important;
  }
  .skills-container .animated-arrow-down {
    left: 13rem !important;
  }
}
@media only screen and (min-width: 992px) {
  .skills-container {
    width: 750px !important;
    margin-top: 0 !important;
  }
  .skills-container::before {
    position: absolute;
    left: 20vw;
    top: 2rem;
    content: "";
    width: 500px;
    height: 2px;
    background-color: #fada5e;
    box-shadow: 0px 0px 85px 5px #ffff00;
    border-radius: 50%;
    animation: arrow-fade 3s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
  }
  .skills-container .skill-element-container .right-arrow {
    transition: 1s ease;
    font-size: 24px;
  }
  .skills-container .skills-title {
    transition: 1s ease;
    font-size: 45px !important;
  }
  .skills-container .skills-text-container {
    font-size: 24px !important;
    font-weight: 700 !important;
  }
  .skills-container .skills-skillset-container {
    margin-top: 8rem;
    gap: 11rem !important;
  }
  .skills-container .skills-skillset-container li {
    font-size: 24px !important;
  }
  .skills-container .skills-skillset-container .left-skillset,
  .skills-container .skills-skillset-container .right-skillset {
    transition: 1s ease;
    line-height: 3.5rem !important;
  }
}
@media only screen and (min-width: 1440px) {
  .skills-container {
    width: 1046px !important;
  }
}/*# sourceMappingURL=Skills.css.map */