@use '../../sass/variables' as v;
@forward '../../sass/templates';

.skills-wrapper {
  z-index: 1;
  @extend %flex-ai-column;
  height: fit-content;

  .skills-container {
    margin-top: 5rem;
    position: relative;
    width: v.$content-mobile-width;

    .skills-title {
      @extend %title-style;
    }

    .skills-text-container {
      @extend %text-container-style;

      &:nth-child(1) {
        margin-bottom: 1rem;
      }
      &:is(:hover, :focus-visible) {
        color: v.$very-light-navy;
      }

      .python-text,
      .designer-text {
        color: v.$very-light-navy;
      }
    }

    .skills-skillset-container {
      display: flex;
      justify-content: flex-start;
      gap: 4rem;

      .skill-element-container {
        display: flex;
        align-items: center;

        //Arrow icon

        .right-arrow {
          color: v.$grain-yellow;
          padding-right: 0.5rem;
        }

        li {
          color: v.$very-light-navy;
          font-size: v.$fz-lg;
          font-weight: 700;
        }

        //Highlighted text

        .brighter {
          color: v.$bluis-white;
        }
      }

      //Left-Right Skill tree

      .left-skillset,
      .right-skillset {
        list-style: none;
        line-height: 2rem;
      }
    }

    .animated-arrow-down {
      @extend %animated-arrow-down;
    }
  }
}
