@use '../../sass/variables' as v;
@forward '../../sass/templates';

//Main wrapper

.navbar-wrapper {
  font-family: v.$text-font-family;
  position: fixed;
  top: 0;
  z-index: 5;
  transition: top 0.3s;

  background: transparent;
  backdrop-filter: blur(20px);

  #hover_download {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: unset;
    margin-bottom: 2rem;
    cursor: pointer;
    top: 2rem;

    #hover_download_list {
      position: relative;
      //top: 3rem;
      height: fit-content;
      display: flex;
      flex-direction: column;

      //margin-top: -4rem;
      gap: 0.5rem;
      //margin-bottom: 2rem;

      .hover_download_links {
        height: unset !important;
        text-decoration: none;
        &:nth-child(1) {
          margin-top: 1rem;
        }
      }

      .hover_download_list_item {
        width: 80%;
        border: none;
        font-size: 14px;
        background-color: v.$very-light-navy;
        border-radius: 0.5rem;
        padding: 0.3rem;
        text-align: left;

        &:hover {
          background-color: v.$navy-blue;
          color: v.$bluis-white;
        }
      }
    }
  }

  // }
  .navbar-container {
    position: relative;
    @extend %flex-align-center;
    justify-content: space-between;
    height: 4rem;
    width: 100vw;
    z-index: 5;

    .logo-container {
      margin-left: 1.3rem;
    }
    .navlinks-container {
      display: none;
    }

    .show-mobile-menu {
      display: flex;
    }

    // Mobile-Icons

    @extend %mobile-navbar-icons;

    //Navbar links container

    .navlinks {
      z-index: 3;
      @extend %flex-ai-column;

      height: 100vh;
      overflow-y: scroll;
      overflow-x: hidden;
      width: 180px;
      position: fixed;
      top: 0;
      right: 0;
      list-style: none;
      background: transparent;
      backdrop-filter: blur(20px);

      animation: goleft 0.5s cubic-bezier(0.19, 1, 0.22, 1);

      .mobile-menu {
        position: relative;
        margin-bottom: 4rem;
        width: 100%;
      }
      //Links

      a {
        @extend %full-center-row;
        text-transform: uppercase;
        color: v.$pastel-yellow;
        background-color: v.$light-navy;
        font-size: v.$fz-xl;
        text-decoration: none;
        background: transparent;

        letter-spacing: 2px;
        height: 5rem;
        width: 180px;

        // &:nth-child(2) {
        //   margin-top: 5rem;
        // }
        &:is(:hover, :active) {
          color: v.$yellow;
          background-color: v.$lightest-navy;

          &:nth-child(6) {
            background-color: v.$light-navy;
          }
        }
      }

      //Resume button

      @extend %resume-btn;

      //Toggle theme buttons
      .theme-toggle {
        position: relative;
        bottom: -2rem;
        border: 1px solid v.$grain-yellow;
        border-radius: 0.5rem;
        padding: 0.25rem 0.5rem 0.25rem 0.5rem;
        background-color: v.$jet-black;

        &::before {
          position: absolute;
          top: 3rem;
          left: -2.8rem;
          content: '';
          width: 130px;
          height: 1px;
          background-color: v.$yellow;
          color: v.$yellow;
          border-radius: 2px;
          box-shadow: 0px 0px 10px 1px v.$yellow;
        }

        &:is(:hover, :focus-visible) {
          cursor: pointer;
          border: 1px solid v.$yellow;
          background-color: v.$navy-blue;
        }

        #darktheme-icon {
          font-size: v.$fz-xxl;
          background-color: transparent;
          color: v.$yellow;
        }

        #lighttheme-icon {
          font-size: v.$fz-xxl;
          background-color: transparent;
          color: v.$yellow;
        }
      }

      .flag-toggle {
        height: 2.2rem;
        width: 2.5rem;
        position: relative;
        bottom: -4rem;
        border: 1px solid v.$grain-yellow;
        border-radius: 0.5rem;
        padding: 0.25rem 0.5rem 0.25rem 0.5rem;
        background-color: v.$lightest-navy;
        margin-bottom: 2rem;

        &:is(:hover, :focus-visible) {
          cursor: pointer;
          border: 1px solid v.$yellow;
          background-color: v.$navy-blue;
        }
      }
    }
  }
}

//Mobile menu animation
@keyframes goleft {
  0% {
    transform: translateX(12rem);
  }
}

//Media Queries

//*********************** Desktop 992px ***********************//
@media only screen and (min-width: 992px) {
  //Mobile icons off
  #hover_download {
    top: unset !important;
    margin-bottom: unset !important;
  }

  #hover_download_list {
    position: fixed !important;
    align-items: center;
    top: 4rem;

    .hover_download_links {
      width: 90% !important;
      .hover_download_list_item {
        width: 90% !important;
      }
    }
  }

  #closemenu,
  #burgermenu {
    display: none;
  }

  .navbar-container {
    justify-content: space-between !important;
    align-items: center !important;
    gap: -5rem !important;

    .navlinks-container {
      display: flex !important;
      width: fit-content !important;

      //Desktop Menu
      .navlinks {
        position: relative !important;
        flex-direction: row !important;
        gap: 2rem !important;
        background-color: transparent !important;
        height: fit-content !important;
        width: 92% !important;
        right: 2rem !important;
        overflow: hidden !important;

        animation: none !important;

        .theme-toggle,
        .flag-toggle {
          position: relative !important;
          bottom: 0 !important;
          margin-bottom: unset !important;

          &::before {
            top: -5px !important;
            left: -17px !important;
            width: 1px !important;
            height: 45px !important;
          }
        }

        .flag-toggle {
          margin-left: -1rem;
          width: 12rem !important;
        }

        //Links

        a {
          background-color: transparent !important;
          height: 65px !important;
          width: fit-content !important;

          &:nth-child(1) {
            margin-top: 0 !important;
          }
          &:is(:hover, :active) {
            background-color: transparent !important;
            text-decoration: underline;
          }
        }

        //Resume
        span {
          padding: 0.5rem 1rem 0.5rem 1rem;
        }
      }
    }
  }
}

//*********************** Desktop 1200px ***********************//
@media only screen and (min-width: 1200px) {
  .navbar-container {
    .navlinks-container {
      .navlinks {
        transition: 1s ease;
        gap: 4rem !important;
        width: 100% !important;

        .flag-toggle {
          margin-left: -3rem;
          width: 12rem !important;
        }
      }
    }
  }
}
