.navbar-wrapper .navbar-container .navlinks {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.navbar-wrapper .navbar-container {
  display: flex;
  align-items: center;
}

.navbar-wrapper .navbar-container .navlinks a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-wrapper .navbar-container #closemenu,
.navbar-wrapper .navbar-container #burgermenu {
  z-index: 4;
  position: absolute;
  right: 2rem;
  top: 1rem;
  font-size: 35px;
  color: #ffff00;
  background-color: transparent;
  cursor: pointer;
}

.navbar-wrapper .navbar-container .navlinks span {
  color: #fdfd96;
  border: 1px solid #fdfd96;
  background-color: #6084c3;
  border-radius: 0.5rem;
  padding: 1rem;
}
.navbar-wrapper .navbar-container .navlinks span:is(:hover, :active) {
  color: #ffff00;
  background-color: #06011d;
  border: 1px solid #ffff00;
}

.navbar-wrapper {
  font-family: "Genos", Calibri, Ruda, sans-serif;
  position: fixed;
  top: 0;
  z-index: 5;
  transition: top 0.3s;
  background: transparent;
  backdrop-filter: blur(20px);
}
.navbar-wrapper #hover_download {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  gap: unset;
  margin-bottom: 2rem;
  cursor: pointer;
  top: 2rem;
  z-index: 5;
}
.navbar-wrapper #hover_download #hover_download_list {
  position: relative;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.navbar-wrapper #hover_download #hover_download_list .hover_download_links {
  height: unset !important;
  text-decoration: none;
}
.navbar-wrapper #hover_download #hover_download_list .hover_download_links:nth-child(1) {
  margin-top: 1rem;
}
.navbar-wrapper #hover_download #hover_download_list .hover_download_list_item {
  width: 80%;
  border: none;
  font-size: 14px;
  background-color: #aabaff;
  border-radius: 0.5rem;
  padding: 0.3rem;
  text-align: left;
}
.navbar-wrapper #hover_download #hover_download_list .hover_download_list_item:hover {
  background-color: #06011d;
  color: #aac9ff;
}
.navbar-wrapper .navbar-container {
  position: relative;
  justify-content: space-between;
  height: 4rem;
  width: 100vw;
  z-index: 5;
}
.navbar-wrapper .navbar-container .logo-container {
  margin-left: 1.3rem;
  z-index: 5;
}
.navbar-wrapper .navbar-container .navlinks-container {
  display: none;
}
.navbar-wrapper .navbar-container .show-mobile-menu {
  display: flex;
}
.navbar-wrapper .navbar-container .navlinks {
  z-index: 3;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 180px;
  position: fixed;
  top: 0;
  right: 0;
  list-style: none;
  background: transparent;
  backdrop-filter: blur(20px);
  animation: goleft 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.navbar-wrapper .navbar-container .navlinks .mobile-menu {
  position: relative;
  margin-bottom: 4rem;
  width: 100%;
}
.navbar-wrapper .navbar-container .navlinks a {
  text-transform: uppercase;
  color: #fdfd96;
  background-color: #112240;
  font-size: 20px;
  text-decoration: none;
  background: transparent;
  letter-spacing: 2px;
  height: 5rem;
  width: 180px;
}
.navbar-wrapper .navbar-container .navlinks a:is(:hover, :active) {
  color: #ffff00;
  background-color: #6084c3;
}
.navbar-wrapper .navbar-container .navlinks a:is(:hover, :active):nth-child(6) {
  background-color: #112240;
}
.navbar-wrapper .navbar-container .navlinks .theme-toggle {
  position: relative;
  bottom: -2rem;
  border: 1px solid #fada5e;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  background-color: #343434;
}
.navbar-wrapper .navbar-container .navlinks .theme-toggle::before {
  position: absolute;
  top: 3rem;
  left: -2.8rem;
  content: "";
  width: 130px;
  height: 1px;
  background-color: #ffff00;
  color: #ffff00;
  border-radius: 2px;
  box-shadow: 0px 0px 10px 1px #ffff00;
}
.navbar-wrapper .navbar-container .navlinks .theme-toggle #darktheme-icon {
  font-size: 22px;
  background-color: transparent;
  color: #ffff00;
}
.navbar-wrapper .navbar-container .navlinks .theme-toggle #lighttheme-icon {
  font-size: 22px;
  background-color: transparent;
  color: #ffff00;
}
.navbar-wrapper .navbar-container .navlinks .flag-toggle {
  height: 2.2rem;
  width: 2.5rem;
  position: relative;
  bottom: -4rem;
  border: 1px solid #fada5e;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  background-color: #6084c3;
  margin-bottom: 2rem;
}
.navbar-wrapper .navbar-container .navlinks .flag-toggle:is(:hover, :focus-visible) {
  cursor: pointer;
  border: 1px solid #ffff00;
  background-color: #06011d;
}

@keyframes goleft {
  0% {
    transform: translateX(12rem);
  }
}
@keyframes cv_right {
  0% {
    transform: translateX(2rem);
  }
}
@media only screen and (min-width: 992px) {
  #hover_download {
    top: unset !important;
    margin-bottom: unset !important;
    flex-direction: row !important;
    gap: 1rem !important;
    background-color: #6084c3 !important;
    padding-right: 0.5rem !important;
    border-radius: 1rem !important;
  }
  #hover_download_list {
    position: relative !important;
    align-items: center;
    flex-direction: row !important;
    top: 0;
    z-index: 5 !important;
    animation: cv_right 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  }
  #hover_download_list .hover_download_links {
    width: 90% !important;
  }
  #hover_download_list .hover_download_links .hover_download_list_item {
    width: 90% !important;
  }
  #closemenu,
  #burgermenu {
    display: none;
  }
  .navbar-container {
    justify-content: space-between !important;
    align-items: center !important;
    gap: -5rem !important;
  }
  .navbar-container .navlinks-container {
    display: flex !important;
    width: fit-content !important;
  }
  .navbar-container .navlinks-container .navlinks {
    position: relative !important;
    flex-direction: row !important;
    gap: 2rem !important;
    background-color: transparent !important;
    height: fit-content !important;
    width: 92% !important;
    right: 2rem !important;
    overflow: hidden !important;
    animation: none !important;
  }
  .navbar-container .navlinks-container .navlinks .theme-toggle,
  .navbar-container .navlinks-container .navlinks .flag-toggle {
    position: relative !important;
    bottom: 0 !important;
    margin-bottom: unset !important;
  }
  .navbar-container .navlinks-container .navlinks .theme-toggle::before,
  .navbar-container .navlinks-container .navlinks .flag-toggle::before {
    top: -5px !important;
    left: -17px !important;
    width: 1px !important;
    height: 45px !important;
  }
  .navbar-container .navlinks-container .navlinks .flag-toggle {
    margin-left: -1rem;
    width: 12rem !important;
  }
  .navbar-container .navlinks-container .navlinks a {
    background-color: transparent !important;
    height: 65px !important;
    width: fit-content !important;
  }
  .navbar-container .navlinks-container .navlinks a:nth-child(1) {
    margin-top: 0 !important;
  }
  .navbar-container .navlinks-container .navlinks a:is(:hover, :active) {
    background-color: transparent !important;
    text-decoration: underline;
  }
  .navbar-container .navlinks-container .navlinks span {
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
}
@media only screen and (min-width: 1200px) {
  .navbar-container .navlinks-container .navlinks {
    transition: 1s ease;
    gap: 4rem !important;
    width: 100% !important;
  }
  .navbar-container .navlinks-container .navlinks .flag-toggle {
    margin-left: -3rem;
    width: 12rem !important;
  }
}/*# sourceMappingURL=Navbar.css.map */