@use '../../sass/variables' as v;
@forward '../../sass/templates';

//Main wrapper

.navbar-wrapper {
  font-family: v.$text-font-family;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: top 0.3s;

  .navbar-container {
    position: relative;
    @extend %flex-align-center;
    justify-content: space-between;
    height: 4rem;
    width: 100vw;
    border-top: 1px solid v.$jet-black;

    //Navbar border-bottom

    &:after {
      position: absolute;
      bottom: 0px;
      content: '';
      width: 100vw;
      height: 11px;
      background-image: linear-gradient(180deg, v.$navy-blue, v.$lightest-navy 475%);
      box-shadow: 0px 25px 35px 1px v.$black;
    }

    .logo-container {
      margin-left: 1.3rem;
    }
    .navlinks-container {
      display: none;
    }

    .show-mobile-menu {
      display: flex;
    }

    .hide {
      display: none;
    }
    // Mobile-Icons

    @extend %mobile-navbar-icons;

    //Navbar links container

    .navlinks {
      z-index: 3;
      @extend %flex-ai-column;

      height: 110vh;
      width: 180px;
      position: absolute;
      top: 0;
      right: 0;
      list-style: none;
      background-color: v.$light-navy;

      animation: goleft 0.5s cubic-bezier(0.19, 1, 0.22, 1);

      //Links

      a {
        @extend %full-center-row;
        text-transform: uppercase;
        color: v.$pastel-yellow;
        background-color: v.$light-navy;
        font-size: v.$fz-xl;
        text-decoration: none;

        letter-spacing: 2px;
        height: 6rem;
        width: 180px;

        &:nth-child(1) {
          margin-top: 8rem;
        }
        &:is(:hover, :active) {
          color: v.$yellow;
          background-color: v.$lightest-navy;

          &:nth-child(5) {
            background-color: v.$light-navy;
          }
        }
      }

      //Resume button

      @extend %resume-btn;
    }
  }
}

//Mobile menu animation
@keyframes goleft {
  0% {
    transform: translateX(12rem);
  }
}

//Media Queries

//*********************** Desktop 992px ***********************//
@media only screen and (min-width: 992px) {
  //Mobile icons off

  #closemenu,
  #burgermenu {
    display: none;
  }

  .navbar-container {
    justify-content: space-between !important;
    gap: 5rem !important;

    .navlinks-container {
      display: flex !important;
      width: fit-content !important;

      //Desktop Menu
      .navlinks {
        position: relative !important;
        flex-direction: row !important;
        gap: 2rem !important;
        background-color: transparent !important;
        height: fit-content !important;
        width: fit-content !important;
        right: 2rem !important;

        animation: none !important;

        //Links
        a {
          background-color: transparent !important;
          height: 65px !important;
          width: fit-content !important;

          &:nth-child(1) {
            margin-top: 0 !important;
          }
          &:is(:hover, :active) {
            background-color: transparent !important;
            text-decoration: underline;
          }
        }

        //Resume
        span {
          padding: 0.5rem 1rem 0.5rem 1rem;
        }
      }
    }
  }
}
