@use '../../sass/variables' as v;
//@import compass;

.home-wrapper {
  font-family: v.$text-font-family;
  color: v.$lightest-navy;

  .home-container {
    display: flex;
    flex-direction: column;
    gap: v.$component-gap-mobile;
  }
}

// n is number of stars required
@function multiple-box-shadow($n) {
  $value: '#{random(3000)}px #{random(3000)}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(3000)}px #{random(3000)}px #FFF';
  }
  @return unquote($value);
}

$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

// html {
//   height: 100%;
//   width: 100%;
//   //background: #090a0f;
//   overflow: hidden;
// }
#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;
  position: fixed;
  top: 0px;

  &:after {
    content: ' ';
    position: absolute;
    top: -2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}
#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;
  position: fixed;
  top: 0px;

  &:after {
    content: ' ';
    position: absolute;
    top: -2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}
#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;
  position: fixed;
  top: 0px;

  &:after {
    content: ' ';
    position: absolute;
    top: -2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(2000px);
  }
}
//Media Queries
@media only screen and (min-width: 992px) {
  .home-container {
    gap: v.$component-gap-desktop992 !important;
  }
}
