@use '../../sass/variables' as v;
//@import compass;

.home-wrapper {
  font-family: v.$text-font-family;
  color: v.$lightest-navy;
  position: relative;

  // .bottom-box-shadow {
  //   height: 1px;
  //   box-shadow: 0px 0px 15px 2px v.$blackhole-color;
  //   z-index: 1;
  //   position: fixed;
  //   bottom: 0px;
  //   width: 100%;
  // }

  .home-container {
    display: flex;
    flex-direction: column;
    gap: v.$component-gap-mobile;
    margin-top: -12rem;
    position: relative;
  }
}

// n is number of stars required
@function multiple-box-shadow($n) {
  $value: '#{random(3000)}px #{random(3000)}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(3000)}px #{random(3000)}px #FFF';
  }
  @return unquote($value);
}

$shadows-small: multiple-box-shadow(800);
$shadows-medium: multiple-box-shadow(300);
$shadows-big: multiple-box-shadow(100);

// html {
//   height: 100%;
//   width: 100%;
//   //background: #090a0f;
//   overflow: hidden;
// }
#stars_fix {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  //animation: animStar 150s linear infinite;
  position: fixed;
  top: 0px;
  border-radius: 50%;

  &:after {
    content: ' ';
    position: absolute;
    top: -2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
    border-radius: 50%;
  }
}
#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 150s linear infinite;
  position: fixed;
  top: 0px;
  border-radius: 50%;

  &:after {
    content: ' ';
    position: absolute;
    top: -2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
    border-radius: 50%;
  }
}
#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;
  position: fixed;
  top: 0px;
  border-radius: 50%;

  &:after {
    content: ' ';
    position: absolute;
    top: -2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
    border-radius: 50%;
  }
}
#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 50s linear infinite;
  position: fixed;
  top: 0px;
  border-radius: 50%;

  &:after {
    content: ' ';
    position: absolute;
    top: -2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
    border-radius: 50%;
  }
}

@keyframes animStar {
  from {
    transform: perspective(2000px) translateZ(0);
  }
  to {
    transform: perspective(2000px) translateZ(2000px);
  }
}

//Media Queries
@media only screen and (min-width: 768px) {
  .home-container {
    margin-top: -14rem !important;
  }
}
@media only screen and (min-width: 992px) {
  .home-container {
    gap: v.$component-gap-desktop992 !important;
    margin-top: -30rem !important;
  }
}
@media only screen and (min-width: 1200px) {
  .home-container {
    gap: v.$component-gap-desktop992 !important;
    margin-top: -30rem !important;
  }
}
@media only screen and (min-width: 1300px) {
  .home-container {
    gap: v.$component-gap-desktop992 !important;
    margin-top: -30rem !important;
  }
}
