@use '../../sass/variables' as v;

.home-wrapper {
  font-family: v.$text-font-family;
  color: v.$lightest-navy;

  .home-container {
    display: flex;
    flex-direction: column;
    gap: v.$component-gap-mobile;
  }
}
