@use '../../sass/variables' as v;
@forward '../../sass/templates';

//More projects btn

.more-to-see-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;

  .more-btn {
    @extend %more-btn;
  }
}
