@use '../../sass/variables' as v;
@forward '../../sass/templates';

//Main wrapper

.about-wrapper {
  z-index: 1;
  @extend %flex-ai-column;
  height: fit-content;
  margin-top: 8rem;

  .about-container {
    position: relative;
    width: v.$content-mobile-width;

    .about-img-container {
      position: inherit;

      .img-me {
        position: inherit;
        z-index: inherit;
        width: v.$content-mobile-img-me-width;
        margin: 1.5rem 0 1rem 3rem;
        border-radius: 1rem;
        margin-bottom: 2rem;

        &:hover {
          filter: contrast(120%);
        }
      }

      //Image border

      .img-border {
        position: absolute;
        left: 4rem;
        bottom: 1rem;
        z-index: 0;
        width: v.$content-mobile-img-me-width;
        height: v.$content-mobile-img-me-border-height;
        border: 2px solid v.$yellow;
        border-radius: 1rem;

        &:hover {
          filter: hue-rotate(90deg);
        }
      }
    }
    .about-introduction {
      color: v.$xxl-light-navy;
      font-size: v.$fz-lg;
      font-weight: 400;
    }

    .about-name {
      color: v.$bluis-white;
      font-size: v.$fz-big-2;
    }

    .about-profession {
      color: v.$very-light-navy;
      font-size: v.$fz-xxxl;
      font-weight: 500;
      margin-bottom: 1.5rem;

      span {
        color: v.$xxl-light-navy;
        letter-spacing: 2px;
        margin-left: 0.5rem;
      }
    }

    .about-text {
      color: v.$lightest-navy;
      font-size: v.$fz-xl;
      font-weight: 500;

      &:is(:hover, :focus-visible) {
        color: v.$very-light-navy;
      }

      .text-last {
        margin-top: 1rem;
      }
    }

    //Animated arrow icon

    .animated-arrow-down {
      @extend %animated-arrow-down;
    }
  }
}

//Animation Arrow fade

@keyframes arrow-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//Media Queries

//*********************** Tablet 768px ***********************//
@media only screen and (min-width: 768px) {
  .about-container {
    transition: 1s ease-in-out;
    width: v.$content-tablet-width !important;

    .about-img-container {
      .img-me {
        width: v.$content-tablet-img-me-width !important;
      }

      .img-border {
        width: v.$content-tablet-img-me-width !important;
        height: v.$content-tablet-img-me-border-height !important;
      }
    }

    .animated-arrow-down {
      transition: 1s ease-in-out;
      left: 13rem !important;
    }
  }
}

//*********************** Desktop 992px ***********************//
@media only screen and (min-width: 992px) {
  .about-container {
    width: v.$content-desktop992-width !important;

    .about-img-container {
      margin-left: 3rem;
      .img-me {
        border-radius: 50% !important;
        transition: 0.2s ease;
        width: v.$content-desktop992-img-me-width !important;
      }

      .img-border {
        border: 3px solid v.$yellow !important;
        bottom: 2.15rem !important;
        left: 2.8rem !important;
        border-radius: 50% !important;
        transition: 0.2s ease;
        width: v.$content-desktop992-img-me-width !important;
        height: v.$content-desktop992-img-me-border-height !important;

        box-shadow: 0px 0px 85px 2px v.$yellow;
        opacity: 0.2;
      }
    }

    .animated-arrow-down {
      display: none;
    }

    .about-introduction {
      transition: 1s ease;
      font-size: v.$fz-xxl !important;
      font-weight: 500 !important;

      &::before {
        position: absolute;
        left: 20vw;
        top: 1rem;
        content: '';
        width: calc(v.$content-desktop992-width/1.5);
        height: 2px;
        background-color: v.$grain-yellow;
        box-shadow: 0px 0px 85px 5px v.$yellow;
        border-radius: 50%;
        animation: arrow-fade 3s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
      }
    }

    .about-name {
      transition: 1s ease;
      font-size: v.$fz-big-3 !important;
    }

    .about-profession {
      transition: 1s ease;
      font-size: v.$fz-big-1 !important ;
      font-weight: 600 !important;
      margin-bottom: 2.5rem !important;
    }

    .about-text {
      font-size: v.$fz-xxxl !important;
      font-weight: 700 !important;
      margin-bottom: 6rem;
    }
  }
}
