.about-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about-wrapper .about-container .animated-arrow-down {
  z-index: 3;
  position: relative;
  bottom: -5rem;
  left: 8rem;
  font-size: 40px;
  color: #ffff00;
  animation: arrow-fade 2s ease-in-out infinite;
}
.about-wrapper .about-container .animated-arrow-down:hover {
  cursor: pointer;
}

.about-wrapper {
  z-index: 1;
  height: fit-content;
  margin-top: 8rem;
}
.about-wrapper .about-container {
  position: relative;
  width: 300px;
}
.about-wrapper .about-container .about-img-container {
  position: inherit;
}
.about-wrapper .about-container .about-img-container .img-me {
  position: inherit;
  z-index: inherit;
  width: 200px;
  margin: 1.5rem 0 1rem 3rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.about-wrapper .about-container .about-img-container .img-me:hover {
  filter: contrast(120%);
}
.about-wrapper .about-container .about-img-container .img-border {
  position: absolute;
  left: 4rem;
  bottom: 1rem;
  z-index: 0;
  width: 200px;
  height: 200px;
  border: 2px solid #ffff00;
  border-radius: 1rem;
}
.about-wrapper .about-container .about-img-container .img-border:hover {
  filter: hue-rotate(90deg);
}
.about-wrapper .about-container .about-introduction {
  color: #5a83c9;
  font-size: 18px;
  font-weight: 400;
}
.about-wrapper .about-container .about-name {
  color: #aac9ff;
  font-size: 40px;
}
.about-wrapper .about-container .about-profession {
  color: #45669e;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.about-wrapper .about-container .about-profession span {
  color: #5a83c9;
  letter-spacing: 2px;
  margin-left: 0.5rem;
}
.about-wrapper .about-container .about-text {
  color: #324972;
  font-size: 20px;
  font-weight: 500;
}
.about-wrapper .about-container .about-text:is(:hover, :focus-visible) {
  color: #45669e;
}
.about-wrapper .about-container .about-text .text-last {
  margin-top: 1rem;
}
@keyframes arrow-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (min-width: 768px) {
  .about-container {
    transition: 1s ease-in-out;
    width: 450px !important;
  }
  .about-container .about-img-container .img-me {
    width: 350px !important;
  }
  .about-container .about-img-container .img-border {
    width: 350px !important;
    height: 350px !important;
  }
  .about-container .animated-arrow-down {
    transition: 1s ease-in-out;
    left: 13rem !important;
  }
}
@media only screen and (min-width: 992px) {
  .about-container {
    width: 750px !important;
  }
  .about-container .about-img-container {
    margin-left: 3rem;
    margin-bottom: 3rem;
  }
  .about-container .about-img-container .img-me {
    border-radius: 50% !important;
    transition: 0.2s ease;
    width: 520px !important;
  }
  .about-container .about-img-container .img-border {
    border: 3px solid #5a83c9 !important;
    bottom: 2.15rem !important;
    left: 2.8rem !important;
    border-radius: 50% !important;
    transition: 0.2s ease;
    width: 520px !important;
    height: 520px !important;
    box-shadow: 0px 0px 85px 15px #5a83c9;
    opacity: 0.3;
  }
  .about-container .animated-arrow-down {
    display: none;
  }
  .about-container .about-introduction {
    transition: 1s ease;
    font-size: 22px !important;
    font-weight: 500 !important;
  }
  .about-container .about-name {
    transition: 1s ease;
    font-size: 45px !important;
    margin-bottom: 3rem;
  }
  .about-container .about-profession {
    transition: 1s ease;
    font-size: 35px !important;
    font-weight: 600 !important;
    margin-bottom: 2.5rem !important;
  }
  .about-container .about-text {
    font-size: 24px !important;
    font-weight: 700 !important;
    margin-bottom: 6rem;
  }
}
@media only screen and (min-width: 1440px) {
  .about-wrapper {
    align-items: center !important;
    flex-direction: column !important;
  }
  .about-wrapper .about-container {
    width: 450px !important;
    margin-left: -35rem;
  }
  .about-wrapper .about-container .about-img-container {
    position: absolute !important;
    top: 2rem;
    right: -5rem;
  }
  .about-wrapper .about-container .about-img-container .img-border {
    position: absolute;
    left: 4rem;
    top: 1.34rem;
    box-shadow: 0px 0px 85px 15px #5a83c9 !important;
  }
}/*# sourceMappingURL=About.css.map */