@use '../src/sass/variables' as v;

//Tourney
@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@200;300;400;500;600&display=swap');

//Genos
@import url('https://fonts.googleapis.com/css2?family=Genos:wght@200;300;400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  background-color: v.$navy_blue;
}

/////Scrollbar Color set
///
/* Firefox */
html {
  scrollbar-color: v.$yellow v.$navy_blue;
  scrollbar-width: thin;
  scrollbar-arrow-color: v.$yellow;
  scroll-behavior: smooth;
  scrollbar-darkshadow-color: v.$grain-yellow;
}

/* WebKit and Chromiums */
::-webkit-scrollbar {
  width: 12px;
  height: 8px;
  background-color: v.$navy-blue;
  color: v.$yellow;
}

::-webkit-scrollbar-thumb {
  background: v.$navy-blue;
  color: v.$yellow;
  border-radius: 5px;
}
