@use '../src/sass/variables' as v;

//Tourney
@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@200;300;400;500;600&display=swap');

//Genos
@import url('https://fonts.googleapis.com/css2?family=Genos:wght@200;300;400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  background-color: v.$navy_blue;
}
